<!DOCTYPE html>
<html lang = "pt-BR">
<head>
    <meta charset= "utf-8"><!-- formatação do texto -->
    <meta http-equiv= "X-UA-Compatible" content="IE=edge">
    <meta name= "viewport" content= "width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel= "stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel= "stylesheet"><!--Fonte roboto  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel= "stylesheet"><!-- Fonte material icons   -->
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css" type="text/css"><!-- Fonte material icons   -->
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin = "anonymous">
	<link href="../assets/css/layout.css" rel="stylesheet" type="text/css">
    <title>
		Cadápio Online
    </title>
</head>
<body class="container-fluid">

	<header class="row cabecalho">
		
			<div class = "title-menu col-4">
				<h1>Pedido</h1>
			</div>
		
	</header>
    <section class="row">	
	   <div class = "card-body">	  
          <br>
          <form>
            <div class = "form-group row">
              <div class = "col-sm-12">
				<div class = "input-group mb-3">
				<br>
				  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<table class = "table">
					  <tbody>
						 <tr>
						  <th scope = "row">
							<label class = "title-food">
								Item 1
							</label>
						  </th>
						  <td>
							<label class = "input-group-text" for = "inputGroupSelect01">
								R$ 10, 00
							</label>
						  </td>
						  <td>
							<a data-toggle = "collapse" data-target = "#idItem1" aria-expanded = "false" aria-controls = "collapseExample">
							<i class= "far fa-minus-square fa-2x" ></i>
							</a>
						  </td>
						 </tr>                                            
						<tr>
						  <td    scope = "row">
						  <label class = "title-food">
							  Item 2
							</label>
						  </td>
						  <td>
							<label class = "input-group-text" for = "inputGroupSelect01">
								R$ 10, 00
							</label>
						  </td>
						  <td>
							<a data-toggle = "collapse" data-target = "#idItem2" aria-expanded = "false" aria-controls = "collapseExample">
							  <i class       = "far fa-minus-square fa-2x" ></i>
							</a>
						  </td>
						</tr>                                                                                     
					  </tbody>
					</table>
				  </div>                                                                                                                        
				</div>
              </div>
            </div>
            <h4 class="total">
				Total
				<label class="input-group-text" for="inputGroupSelect01">R$</label>
            </h4>                                            
            <div class = "title-observacao">
				<h5> Observação: 
				  <textarea rows = "3" cols = "50"></textarea>
				</h5>
            </div>                      
            <button type = "button" class = "btn btn-secondary voltar">Voltar</button>
            <button type = "button" class = "btn btn-outline-success concluir" >Concluir</button>
		  </form>
		</div>
    </section>
    
	
	
	
	
	
	
	
	<!-- Importação dos scripts framework -->
    <script src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity                          = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin = "anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin = "anonymous"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity       = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin = "anonymous"></script>
</body>
</html>
